RewriteEngine on
rewritebase /activewin
errordocument 404 index.php?page=404
rewriterule ^$ index.php?_escaped_fragment_=home [l,qsa]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !=/favicon.ico
RewriteRule ^\?_escaped_fragmen=(.*)$ index.php?page=$1 [L,QSA]
